@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
	padding: 0;
	margin: 0;
}

body{
	box-sizing: border-box;
	width: 100%;
	font-family: 'Roboto', 'Lato', sans-serif;
	background-color: #F2F2F2;
}

#container{
	display: grid;
	grid-template-columns: 10% 80% 10%;
	margin: 0 auto !important;
	overflow: hidden auto;
}

#container header .mark{
	border-bottom: 2px solid rgb(80,80,80) !important;
}

p{
	font-size: 18px;
}

/*
	BACKGROUND
*/

#background{
	background: url(../img/bg.jpg) no-repeat center;
	margin-bottom: 35px;
	grid-column: 1/4;
}

#background div:not(.bg-not){
	grid-template-columns: 1fr 1fr 1fr;
	background-color: rgba(0,0,0,0.5);
	background-size: cover;
	display: grid;	
	height: 650px;
	text-align: center;
	align-items: center;
	color: #FFF;
}

#background h1{
	font-size: 50px;
	font-weight: normal;
}

#background h1,p{
	grid-column: 1/4;
}

#background p.bg-frase{
	font-size: 25px;
}

#background article h3{
	font-size: 30px;
	text-transform: uppercase;
}


/*
	HEADER
*/

/* CABEÇALHO */

header{
	grid-column: 1/4;
}

header .flex-top{
	display: flex;
	justify-content: space-around;
	background-color: #872b2f;
	padding: 10px !important;
	align-items: center;
}

header .flex-top > div{
	display: none;
}

header article > ul{
	list-style: none;
}

header article li{
	color: #fff;
	font-size: 18px;
}

header article article a{
	display: block;
	width: 45px;
	margin: 0 2px !important;
}

header article article img{
	width: 100%;
}

header #icon-social{
	display: flex;
}

header #icon-social a{
	margin: 0 7px !important;
}

header #icon-social img{
	width: 50px;
}

header nav.drop-menu{
	background-color: #F6F6F6;
}

header nav.drop-menu div > li{
	float: left;
}

header nav.drop-menu ul a > img{
	width: 375px;
	margin-right: 20px;
}

header nav.drop-menu ul{
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav.drop-menu li{
	position: relative;
	width: 150px;
	text-align: center;
}

header nav.drop-menu ul ul{
	position: absolute;
	display: block;
	text-align: center;
	justify-content: center;
	visibility:	collapse;
	padding: 0 !important;
	margin: 0 !important;
}

header nav.drop-menu li:hover ul{
	visibility: visible;
	background: #F6F6F6;
	transition: all 0.3s;
}

header li{
	font-size: 14px;
}

header nav.drop-menu a:not(#croce){
	display: block;
	text-decoration: none;
	padding: 40px 0;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	color: rgb(80, 80, 80);
	border-bottom: 2px solid #F6F6F6;
	
}

header nav.drop-menu a.drop-a{
	padding: 20px !important;
}

header nav.drop-menu a:hover:not(#croce){
	background-color: #FFF;
	color: #872b2f;
	transition-property: background-color color;
	transition-delay: 1ms;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	border-bottom: 2px solid rgb(80,80,80);
}

/* SESSÃO-1 */

section#s1{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	grid-column: 2/3;
	margin: 30px 0;
}

#s1 article{
	display: flex;
	flex-direction: column;
	width: 350px;
	border-top: 5px solid #872b2f;
	justify-content: space-around;
	margin: 25px 0 !important;
}

#s1 article h2{
	font-size: 18px;
	text-transform: uppercase;
	color: #872b2f;
}

#s1 article span{
	font-size: 14px;
	color: rgb(80, 80, 80);
	font-weight: 500;
	margin: 15px 0 !important;
}

#s1 article img{
	height: 275px;
}

#s1 article button{
	background: none;
	border: none;
}

#s1 article a{
	display: block;
	padding: 10px 20px !important;
	text-align: left;
	background-color: #872b2f;
	color: #FFF;
	width: 57px;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	margin-top: 15px !important;
	border-radius: 5px;
}

#s1 article a:hover{
	background-color: rgba(146, 29, 29, 0.7);
	transition-property: background-color color;
	transition-delay: 1ms;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
}

/* SESSÃO-1.5*/

section#s1-5{
	display: grid;
	grid-template-columns: repeat(2,50%);
	align-items: center;
	justify-content: center;
	grid-column: 2/3;
	padding: 50px 0;
	border-top: 5px dotted #CCC;
}

section#s1-5 article.s1-5-art1{
	grid-column: 1/2;
}

section#s1-5 article.s1-5-art1 iframe{
	width: 100%;
	height: 450px;
}

section#s1-5 article.s1-5-art2{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	grid-column: 2/3;
}

section#s1-5 article.s1-5-art2 img{
	width: 450px;
}

section#s1-5 article.s1-5-art2 p{
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	color: #872b2f;
	margin: 30px;
	text-align: center;
}


/* SESSÃO-2 */

#s2{
	grid-column: 2/3;
	padding: 30px 0;
	border-top: 5px dotted #CCC;
}

#s2 article{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}

#s2 article h2{
	text-transform: uppercase;
	color: #872b2f;
	text-align: center;
	margin-bottom: 5px !important;
}

#s2 article > p{
	color: rgb(130, 130, 130);
	font-style: italic;
	text-align: justify;
	text-indent: 70px;
	margin: 10px 0 !important;
	font-size: 20px;
}

#s2 article h3, h4{
	font-style: normal;
	margin: 0 !important;
	font-weight: bold;
	color:rgb(80, 80, 80);
	background: none;
	font-size: 20px;
}

#s2 article h3{
	margin-top: 10px !important;
}

/* RODAPÉ */

footer{
	background-color: #872b2f;
	color: #FFF;
	text-align: center;
	padding: 20px !important;
	line-height: 25px;
	margin-top: 30px !important;
	grid-column: 1/4;
}




/*
	------------------------------------ HISTORICO ------------------------------------
*/

/* HIST-S1*/

section#hist-s1{
	grid-column: 2/3;
	margin: 55px 0 20px 0;
}

#hist-s1 h2{
	font-size: 40px;
	text-transform: uppercase;
	color: #872b2f;
	border-bottom: 5px solid #872b2f;
	margin: 20px 0 50px 0;
}

#hist-s1 p{
	margin: 25px 0;
	text-align: justify;
	line-height: 25px;
}

#hist-s1 div{
	display: flex; 
	justify-content: flex-end; 
	margin: 0 20px;
}

#hist-s1 div p{
	margin: 10px 0; 
	text-align: right; 
	border-left: 5px solid #CCC; 
	color: rgb(80,80,80); 
	padding-left: 5px; font-style: italic; 
	font-weight: 500; display: inline-block;
}

#hist-s1 ul{
	margin-left: 20px;
	font-size: 18px;
	line-height: 25px;
}




/*
	------------------------------------ COMISSOES ------------------------------------
*/

/* CON-S1 */

#con-s1{
	grid-column: 2/3;
	margin: 50px 0 25px 0;
}

#con-s1 h2{
	font-size: 40px;
	text-transform: uppercase;
	color: #872b2f;
	border-bottom: 5px solid #872b2f;
	margin-bottom: 40px;
}

#con-s1 h3{
	font-size: 25px;
	text-transform: uppercase;
	color: rgb(80, 80, 80);
	margin: 25px 0;
}

#con-s1 article ul{
	margin: 0 25px;
}

#con-s1 li{
	line-height: 25px;
	font-size: 18px;
}




/*
	------------------------------------ MISSÃO ------------------------------------
*/

#mis-s1{
	grid-column: 2/3;
	padding-bottom: 100px;
}

#mis-s1 article ul{
	margin: 0 20px;
	font-size: 18px;
}

#mis-s1 h2{
	font-size: 40px;
	text-transform: uppercase;
	color: #872b2f;
	border-bottom: 5px solid #872b2f;
	margin: 40px 0;
}

#mis-s1 h3{
	font-size: 25px;
	text-transform: uppercase;
	color: rgb(80, 80, 80);
	margin: 25px 0;
}

#mis-s1 p,li{
	line-height: 25px;
}

/*
	------------------------------------ PLENÁRIA ------------------------------------
*/

#ple-s1{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column: 2/3;
	padding-bottom: 100px;
}

#ple-s1 h2{
	grid-column: 1/3;
}

#ple-s1 h3{
	font-size: 25px;
}

#ple-s1 > div{
	grid-column: 1/2;
}

#ple-s1 div.plenaria{
	grid-column: 2/3;
	align-self: center;
}

#ple-s1 div.plenaria img:hover{
	transition-property: transform;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	transition-duration: 0.5s;
	transform: scale(1.3);
	
}

#ple-s1 div.plenaria img{
	transition-property: transform;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
	transition-duration: 0.5s;
	transform: scale(1);
	
}

#ple-s1 article ul{
	margin: 0 20px;
	font-size: 18px;
}

#ple-s1 h2{
	font-size: 40px;
	text-transform: uppercase;
	color: #872b2f;
	border-bottom: 5px solid #872b2f;
	margin: 40px 0;
}

#ple-s1 h3{
	font-size: 25px;
	text-transform: uppercase;
	color: rgb(80, 80, 80);
	margin: 25px 0;
}

#ple-s1 p,li{
	line-height: 25px;
}

/*
	------------------------------------ DELEGACIAS ------------------------------------
*/

#del{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-column: 2/3;
	margin: 20px 0;
}

#del article{
	grid-column: 1/2;
	margin-bottom: 50px;
}

#del h2{
	grid-column: 1/3;
	font-size: 40px;
	text-transform: uppercase;
	color: #872b2f;
	border-bottom: 5px solid #872b2f;
	margin: 40px 0;
}

#del h3{
	font-size: 25px;
	text-transform: uppercase;
	color: rgb(80, 80, 80);
	margin: 25px 0;
}

#del h4{
	margin: 20px 0 !important;
	text-transform: uppercase;
}

#del tr{
	display: block;
	text-align: left;
}

#del td{
	padding: 7px 10px 7px 0;
}

#del span{
	font-weight: 500;
}

#del div.cariri-img{
	grid-column: 2/3;
	width: 300px;
	justify-self: flex-end;
	align-self: center;
}

#del div img{
	width: 300px;
}

#del .municipios{
	grid-column: 1/3;
}

/*
	------------------------------------ LEGISLAÇÃO ------------------------------------
*/

#les{
	
}